@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap");
.search-bar-container {
  width: 90%;
  max-width: 600px;
  margin: 40px auto 0;
}

.search-input-container {
  position: relative;
}

.search-input#menuSearch {
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
  display: block;
  width: 100%;
  padding: 16px 16px 4px 36px;
  font-size: 16px;
  border-radius: 2px;
  outline: none;
  background: rgb(242, 230, 213, 0.53);
  color: white;
}

::placeholder {
  color: rgb(242, 230, 213, 0.8);
  font-family: "Montserrat", sans-serif;
  border: 0;
  outline: 0;
  border-bottom: 1px solid rgb(242, 230, 213);
}

.icon {
  position: absolute;
  right: 20px;
  top: 13px;
  color: white;
}

.geoLocationButton {
  position: absolute;
  left: 10px;
  top: 13px;
  width: 20px;
  background: transparent;
  border: transparent;
  color: white;
  padding: 0px;
}

@media (max-width: 991px) {
  .search-input#menuSearch {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 16%), 0 0 0 1px rgb(0 0 0 / 8%);
    display: block;
    width: 100%;
    padding: 16px 16px 4px 36px;
    font-size: 16px;
    border-radius: 2px;
    outline: none;
    background: rgb(23, 23, 23, 1);
    color: rgb(255, 255, 255);
  }
  ::placeholder {
    color: rgb(242, 230, 213, 0.8);
    font-family: "Montserrat", sans-serif;
    border: 0;
    outline: 0;
    border-bottom: 1px solid rgb(242, 230, 213);
  }

  .icon {
    color: rgb(255, 255, 255, 0.7);
  }

  .geoLocationButton {
    color: rgb(255, 255, 255, 0.7);
  }
}
